.h1-big-title {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3rem;
  margin-bottom: 20px;
}

.accordion {
  border-radius: 5px;
  /* border: 1px solid #d9d9d9; */
}

.accordion .accordion-item:first-child .title {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.accordion .accordion-item:last-child .title {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.accordion .accordion-item .title {
  background-color: #f6f6f6;
  color: #282828;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 2.4rem;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border: 0.1rem solid #DCDEDD;
  font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.accordion .accordion-item .title:after {
  content: '\2304';
  font-size: 18px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.accordion .accordion-item .panel {
  max-height: 0;
  -webkit-transition: max-height 0.15s ease-out;
  -o-transition: max-height 0.15s ease-out;
  transition: max-height 0.15s ease-out;
  overflow: hidden;
}

.accordion .accordion-item.active .title {
  background-color: #eee;
  border-bottom: 0 !important;
}

.accordion .accordion-item.active .title:after {
  content: '\2303';
}

.accordion .accordion-item.active .panel {
  max-height: 500px;
  -webkit-transition: max-height 0.25s ease-in;
  -o-transition: max-height 0.25s ease-in;
  transition: max-height 0.25s ease-in;
  border-left: 0.1rem solid #DCDEDD;
  border-bottom: 0.1rem solid #DCDEDD;
  border-right:  0.1rem solid #DCDEDD;
}

.title:not(:last-child) {
  margin-top: 1.1rem !important;
  margin-bottom: 0 !important;
}